<?xml version="1.0" encoding="UTF-8"?>
<plugin id="cordova-plugin-genius-scan" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>Genius Scan</name>
  <js-module name="GeniusScan" src="www/GeniusScan.js">
    <clobbers target="cordova.plugins.GeniusScan" />
  </js-module>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="GeniusScan">
        <param name="android-package" value="com.thegrizzlylabs.geniusscan.cordova.GeniusScan" />
      </feature>
    </config-file>
    <edit-config file="AndroidManifest.xml" target="/manifest/uses-sdk" mode="merge">
      <uses-sdk android:minSdkVersion="19" />
    </edit-config>
    <config-file parent="/*" target="AndroidManifest.xml">
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
      <uses-permission android:name="android.permission.CAMERA" />
      <uses-feature android:name="android.hardware.screen.portrait" />
    </config-file>
    <config-file parent="/manifest/application" target="AndroidManifest.xml">
      <activity android:configChanges="orientation" android:name="com.geniusscan.camera.ScanActivity" android:screenOrientation="portrait" />
      <activity android:configChanges="orientation" android:name="com.geniusscan.processing.BorderDetectionActivity" android:screenOrientation="portrait" />
      <activity android:configChanges="orientation" android:name="com.geniusscan.enhance.ImageProcessingActivity" android:screenOrientation="portrait" />
    </config-file>
    <source-file src="src/android/GeniusScan.java" target-dir="src/com/thegrizzlylabs/geniusscan/cordova" />
    <source-file src="src/android/geniusscan/PromiseResult.java" target-dir="src/com/geniusscan" />
    <source-file src="src/android/geniusscan/GeniusScanSdkUI.java" target-dir="src/com/geniusscan" />
    <source-file src="src/android/geniusscan/model/Image.java" target-dir="src/com/geniusscan/model" />
    <source-file src="src/android/geniusscan/model/Page.java" target-dir="src/com/geniusscan/model" />
    <source-file src="src/android/geniusscan/processing/AnalyzeAsyncTask.java" target-dir="src/com/geniusscan/processing" />
    <source-file src="src/android/geniusscan/processing/BorderDetectionActivity.java" target-dir="src/com/geniusscan/processing" />
    <source-file src="src/android/geniusscan/processing/ScanProcessor.java" target-dir="src/com/geniusscan/processing" />
    <source-file src="src/android/geniusscan/enhance/ImageProcessingActivity.java" target-dir="src/com/geniusscan/enhance" />
    <source-file src="src/android/geniusscan/enhance/EnhanceAsyncTask.java" target-dir="src/com/geniusscan/enhance" />
    <source-file src="src/android/geniusscan/enhance/PdfGenerationTask.java" target-dir="src/com/geniusscan/enhance" />
    <source-file src="src/android/geniusscan/enhance/RotateAsyncTask.java" target-dir="src/com/geniusscan/enhance" />
    <source-file src="src/android/geniusscan/camera/ScanActivity.java" target-dir="src/com/geniusscan/camera" />
    <resource-file src="src/android/res/drawable-hdpi/ic_launcher.png" target="res/drawable-hdpi/ic_launcher.png" />
    <resource-file src="src/android/res/drawable-mdpi/ic_launcher.png" target="res/drawable-mdpi/ic_launcher.png" />
    <resource-file src="src/android/res/drawable-xhdpi/ic_launcher.png" target="res/drawable-xhdpi/ic_launcher.png" />
    <resource-file src="src/android/res/drawable-xhdpi/ic_menu_accept.png" target="res/drawable-xhdpi/ic_menu_accept.png" />
    <resource-file src="src/android/res/drawable-xhdpi/ic_menu_no_crop.png" target="res/drawable-xhdpi/ic_menu_no_crop.png" />
    <resource-file src="src/android/res/drawable-xhdpi/ic_menu_rotate_left.png" target="res/drawable-xhdpi/ic_menu_rotate_left.png" />
    <resource-file src="src/android/res/drawable-xhdpi/ic_menu_rotate_right.png" target="res/drawable-xhdpi/ic_menu_rotate_right.png" />
    <resource-file src="src/android/res/drawable-xhdpi/ic_menu_settings.png" target="res/drawable-xhdpi/ic_menu_settings.png" />
    <resource-file src="src/android/res/layout/image_processing_activity.xml" target="res/layout/image_processing_activity.xml" />
    <resource-file src="src/android/res/layout/border_detection_activity.xml" target="res/layout/border_detection_activity.xml" />
    <resource-file src="src/android/res/layout/scanning_activity.xml" target="res/layout/scanning_activity.xml" />
    <resource-file src="src/android/res/values/gssdk_colors.xml" target="res/valuess/gssdk_colors.xml" />
    <resource-file src="src/android/res/values/gssdk_strings.xml" target="res/values/gssdk_strings.xml" />
    <resource-file src="src/android/res/values-de/gssdk_strings.xml" target="res/values-de/gssdk_strings.xml" />
    <resource-file src="src/android/res/values-es/gssdk_strings.xml" target="res/values-es/gssdk_strings.xml" />
    <resource-file src="src/android/res/values-fr/gssdk_strings.xml" target="res/values-fr/gssdk_strings.xml" />
    <resource-file src="src/android/res/values-it/gssdk_strings.xml" target="res/values-it/gssdk_strings.xml" />
    <resource-file src="src/android/res/values-ja/gssdk_strings.xml" target="res/values-ja/gssdk_strings.xml" />
    <resource-file src="src/android/res/values-pt-rBR/gssdk_strings.xml" target="res/values-pt-rBR/gssdk_strings.xml" />
    <resource-file src="src/android/res/values-ru/gssdk_strings.xml" target="res/values-ru/gssdk_strings.xml" />
    <resource-file src="src/android/res/values-zh-rCN/gssdk_strings.xml" target="res/values-zh-rCN/gssdk_strings.xml" />
    <resource-file src="src/android/res/values-zh-rTW/gssdk_strings.xml" target="res/values-zh-rTW/gssdk_strings.xml" />
    <source-file src="src/android/libs/gs-sdk.aar" target-dir="app/libs" />
    <framework custom="true" src="src/android/build.gradle" type="gradleReference" />
    <framework src="com.android.support:support-v4:27.0.1"/>
  </platform>

  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="GeniusScan">
        <param name="ios-package" value="GeniusScan" />
      </feature>
    </config-file>

    <preference name="CAMERA_USAGE_DESCRIPTION" default="This app needs camera access"/>
    <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
        <string>$CAMERA_USAGE_DESCRIPTION</string>
    </config-file>

    <source-file src="src/ios/GeniusScan.m" />
    <source-file src="src/ios/GeniusScan.h" />
    <source-file src="src/ios/GSSDK-UI/CameraViewController.m" />
    <source-file src="src/ios/GSSDK-UI/CameraViewController.h" />
    <source-file src="src/ios/GSSDK-UI/EditFrameViewController.m" />
    <source-file src="src/ios/GSSDK-UI/EditFrameViewController.h" />
    <source-file src="src/ios/GSSDK-UI/PostProcessingViewController.m" />
    <source-file src="src/ios/GSSDK-UI/PostProcessingViewController.h" />
    <source-file src="src/ios/GSSDK-UI/ScanNavigationController.m" />
    <source-file src="src/ios/GSSDK-UI/ScanNavigationController.h" />
    <source-file src="src/ios/GSSDK-UI/Scan.m" />
    <source-file src="src/ios/GSSDK-UI/Scan.h" />
    <source-file src="src/ios/GSSDK-UI/UIImage-Extensions.m" />
    <source-file src="src/ios/GSSDK-UI/UIImage-Extensions.h" />
    <resource-file src="src/ios/GSPluginImages.xcassets" />
    <!-- <resource-file src="src/ios/localized/de.lproj" />
    <resource-file src="src/ios/localized/en.lproj" />
    <resource-file src="src/ios/localized/es.lproj" />
    <resource-file src="src/ios/localized/fr.lproj" />
    <resource-file src="src/ios/localized/it.lproj" />
    <resource-file src="src/ios/localized/ja.lproj" />
    <resource-file src="src/ios/localized/pt-BR.lproj" />
    <resource-file src="src/ios/localized/ru.lproj" />
    <resource-file src="src/ios/localized/zh-Hans.lproj" />
    <resource-file src="src/ios/localized/zh-Hant.lproj" /> -->

    <framework src="src/ios/GSSDK/GSSDK.framework" custom="true" embed="true" link="true" />

  </platform>
</plugin>
