<?xml version="1.0" encoding="UTF-8"?>
<plugin id="cordova-plugin-genius-scan" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>Genius Scan</name>
  <js-module name="GeniusScan" src="www/GeniusScan.js">
    <clobbers target="cordova.plugins.GeniusScan" />
  </js-module>
  <platform name="android">
    <preference name="GSSDK_LICENCE_KEY" />

    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="GeniusScan">
        <param name="android-package" value="com.thegrizzlylabs.geniusscan.cordova.GeniusScan" />
      </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml">
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
      <uses-feature android:name="android.hardware.screen.portrait" />
    </config-file>
    <config-file parent="/manifest/application" target="AndroidManifest.xml">
      <meta-data android:value="$GSSDK_LICENCE_KEY" android:name="GSSDK_LICENCE_KEY"></meta-data>
      <activity android:configChanges="orientation" android:name="com.thegrizzlylabs.geniusscan.cordova.processing.BorderDetectionActivity"  />
      <activity android:configChanges="orientation" android:name="com.thegrizzlylabs.geniusscan.cordova.enhance.ImageProcessingActivity"  />
    </config-file>
    <source-file src="src/android/GeniusScan.java" target-dir="src/com/thegrizzlylabs/geniusscan/cordova" />
    <source-file src="src/android/model/Page.java" target-dir="src/com/thegrizzlylabs/geniusscan/cordova/model" />
    <source-file src="src/android/model/Image.java" target-dir="src/com/thegrizzlylabs/geniusscan/cordova/model" />
    <source-file src="src/android/processing/AnalyzeAsyncTask.java" target-dir="src/com/thegrizzlylabs/geniusscan/cordova/processing" />
    <source-file src="src/android/processing/BorderDetectionActivity.java" target-dir="src/com/thegrizzlylabs/geniusscan/cordova/processing" />
    <source-file src="src/android/processing/ScanProcessor.java" target-dir="src/com/thegrizzlylabs/geniusscan/cordova/processing" />
    <source-file src="src/android/enhance/ImageProcessingActivity.java" target-dir="src/com/thegrizzlylabs/geniusscan/cordova/enhance" />
    <source-file src="src/android/enhance/EnhanceAsyncTask.java" target-dir="src/com/thegrizzlylabs/geniusscan/cordova/enhance" />
    <source-file src="src/android/enhance/RotateAsyncTask.java" target-dir="src/com/thegrizzlylabs/geniusscan/cordova/enhance" />
    <source-file src="src/android/res/drawable-xhdpi/ic_menu_accept.png" target-dir="res/drawable-xhdpi" />
    <source-file src="src/android/res/drawable-xhdpi/ic_menu_no_crop.png" target-dir="res/drawable-xhdpi" />
    <source-file src="src/android/res/drawable-xhdpi/ic_menu_rotate_left.png" target-dir="res/drawable-xhdpi" />
    <source-file src="src/android/res/drawable-xhdpi/ic_menu_rotate_right.png" target-dir="res/drawable-xhdpi" />
    <source-file src="src/android/res/drawable-xhdpi/ic_menu_settings.png" target-dir="res/drawable-xhdpi" />
    <source-file src="src/android/res/layout/image_processing_activity.xml" target-dir="res/layout" />
    <source-file src="src/android/res/layout/border_detection_activity.xml" target-dir="res/layout" />
    <source-file src="src/android/res/values/gs_colors.xml" target-dir="res/values" />
    <source-file src="src/android/res/values/gs_strings.xml" target-dir="res/values" />
    <source-file src="src/android/libs/gs-sdk.aar" target-dir="libs" />
    <framework custom="true" src="src/android/build.gradle" type="gradleReference" />
  </platform>

  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="GeniusScan">
        <param name="ios-package" value="GeniusScan" />
      </feature>
    </config-file>

    <preference name="GSSDK_LICENCE_KEY" />
    <config-file target="*-Info.plist" parent="GSSDK_LICENCE_KEY">
      <string>$GSSDK_LICENCE_KEY</string>
    </config-file>


    <source-file src="src/ios/EditFrameViewController.m" />
    <source-file src="src/ios/EditFrameViewController.h" />
    <source-file src="src/ios/PostProcessingViewController.m" />
    <source-file src="src/ios/PostProcessingViewController.h" />
    <source-file src="src/ios/GeniusScan.m" />
    <source-file src="src/ios/GeniusScan.h" />
    <source-file src="src/ios/Scan.m" />
    <source-file src="src/ios/Scan.h" />
    <source-file src="src/ios/UIImage-Extensions.m" />
    <source-file src="src/ios/UIImage-Extensions.h" />
    <resource-file src="src/ios/GSPluginImages.xcassets" />

    <framework src="GSSDK" type="podspec" spec=":path => '../../plugins/cordova-plugin-genius-scan/src/ios/GSSDK'" />

  </platform>
</plugin>
